openapi: 3.0.3
info:
  title: LVT API
  description: Public REST API - Beta
  version: 0.5.0
servers:
  - url: 'https://api.lvt.com/v1'
    description: Production beta version
security:
  - OAuth2: [ ]
tags:
  - name: Cameras
    description: Operations on cameras
  - name: LiveUnits
    description: Operations on LiveUnits
  - name: Locations
    description: Operations on locations

paths:
  /liveUnits:
    get:
      operationId: GetLiveUnits
      security:
        - OAuth2: [ account.liveUnits.manage ]
      tags:
        - LiveUnits
      summary: This endpoint returns all the live units accessible by the specified client.
      description: >
        **Phase 1**:
        List of liveUnits for the user's client
      parameters:
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: A list of liveUnits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/liveUnits'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /liveUnits/{liveUnitId}:
    parameters:
      - name: liveUnitId
        in: path
        description: Specified live unit.
        required: true
        schema:
          type: string
    get:
      operationId: GetLiveUnit
      security:
        - OAuth2: [ account.liveUnits.manage ]
      tags:
        - LiveUnits
      summary: Details for the specified live unit.
      description: >
        **Phase 1**:
        Details for the specified live unit.
      responses:
        '200':
          description: A live unit instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/liveUnit'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /liveUnits/{liveUnitId}/callInfo:
    parameters:
      - name: liveUnitId
        in: path
        description: Specified live unit.
        required: true
        schema:
          type: string
    get:
      operationId: GetLiveUnitCallInfo
      tags:
        - LiveUnits
      summary: Get information on how to make a call to the live unit
      description: >
        **Phase 2**: 
        Get information on how to make a call to the live unit
      responses:
        '200':
          description: Call information for a live unit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/callInfo'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /liveUnits/{liveUnitId}/cameras:
    get:
      operationId: GetLiveUnitCameras
      security:
        - OAuth2: [ account.cameras.manage ]
      tags:
        - LiveUnits
      summary: List of user accessible cameras hosted by the given liveUnit.
      parameters:
        - name: liveUnitId
          in: path
          description: Filter results by liveUnitId.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: A list of cameras.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cameras'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /liveUnits/{liveUnitId}/sounds:
    get:
      operationId: GetLiveUnitSounds
      tags:
        - LiveUnits
      summary: List of quick sounds that can be played by the live unit
      description: >
        **Phase 3**:
        List of quick sounds that can be played by the live unit
      parameters:
        - name: liveUnitId
          in: path
          description: Filter results by liveUnitId.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: A list of sounds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sounds'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /liveUnits/{liveUnitId}/sounds/{soundId}:play:
    post:
      operationId: PlayLiveUnitSound
      tags:
        - LiveUnits
      summary: Play a quick sound from a live unit
      description: >
        **Phase 3**:
        Play a quick sound from a live unit
      parameters:
        - name: liveUnitId
          in: path
          description: Filter results by liveUnitId.
          required: true
          schema:
            type: string
        - name: soundId
          in: path
          description: The sound ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /liveUnits/{liveUnitId}/lights:
    get:
      operationId: GetLiveUnitLights
      tags:
        - LiveUnits
      summary: List of lights on the live unit
      description: >
        **Phase 3**:
        List of lights on the live unit
      parameters:
        - name: liveUnitId
          in: path
          description: Filter results by liveUnitId.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: A list of lights.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lights'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /liveUnits/{liveUnitId}/lights/{lightId}:toggle:
    post:
      operationId: ToggleLiveUnitLight
      tags:
        - LiveUnits
      summary: Toggle the status of a light on a live unit
      description: >
        **Phase 3**:
        Toggle the status of a light on a live unit
      parameters:
        - name: liveUnitId
          in: path
          description: Filter results by liveUnitId.
          required: true
          schema:
            type: string
        - name: lightId
          in: path
          description: The light ID
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/updateLiveUnitLight'
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /cameras/{cameraId}:
    parameters:
      - name: cameraId
        in: path
        description: Identifier of the camera to operate on.
        required: true
        schema:
          type: string
    get:
      operationId: GetLiveUnitCamera
      security:
        - OAuth2: [ account.cameras.manage ]
      tags:
        - Cameras
      summary: Details of selected camera.
      description: >
        **Phase 1**:
        Details of selected camera.
      responses:
        '200':
          description: A camera instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/camera'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/defaultError'

  /cameras/{cameraId}/position:
    parameters:
      - name: cameraId
        in: path
        description: Camera to operate on.
        required: true
        schema:
          type: string
    get:
      operationId: GetCameraPosition
      security:
        - OAuth2: [ account.cameras.manage ]
      tags:
        - Cameras
      summary: Returns the selected camera's PTZF values
      description: >
        **Phase 1**:
        Returns the selected camera's PTZF values
      responses:
        '200':
          description: Current position of the specified camera.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cameraPosition'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        default:
          $ref: '#/components/responses/defaultError'

    put:
      operationId: UpdateCameraPosition
      security:
        - OAuth2: [ account.cameras.manage ]
      tags:
        - Cameras
      summary: Updates the selected camera's PTZF values
      description: >
        **Phase 1**:
        Updates a camera's PTZF
      requestBody:
        description: Updates the absolute position of a camera
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cameraPosition'
      responses:
        '200':
          description: A camera instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cameraPosition'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        default:
          $ref: '#/components/responses/defaultError'

  /cameras/{cameraId}/protocols:
    get:
      operationId: GetProtocols
      security:
        - OAuth2: [ account.cameras.manage ]
      tags:
        - Cameras
      summary: Returns list of protocols supported
      description: >
        **Phase 1**:
        Get list of protocols supported by this camera.
      parameters:
        - in: path
          name: cameraId
          description: Camera to operate on.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: List of protocols supported by the camera.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/streamProtocols'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /cameras/{cameraId}/streams:
    post:
      operationId: StartStream
      security:
        - OAuth2: [ account.cameras.manage ]
      tags:
        - Cameras
        - Streams
      summary: Start a stream
      description: >
        **Phase 1**:
        Starts a stream and returns stream data for the camera
      parameters:
        - in: path
          name: cameraId
          description: Camera to operate on.
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/startStream'
      responses:
        '200':
          description: stream data for the camera.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/streamDataPoly'
              examples:
                rtsp:
                  value:
                    protocol: 'rtsp'
                    streamId: '96129d6f-7143-45d7-a8ea-3081a11fc4b5'
                    refreshInterval: 10000
                    streamingUrl: string
                webrtc:
                  value:
                    protocol: 'webrtc'
                    streamId: '96129d6f-7143-45d7-a8ea-3081a11fc4b5'
                    refreshInterval: 10000
                    signalUrl: wss://primary.camerarelay.com/websocket-session.json
                    streamInfo: {}
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
        default:
          $ref: '#/components/responses/defaultError'

  /streams/{streamId}:checkIn:
    post:
      operationId: CheckIn
      security:
        - OAuth2: [ account.cameras.manage ]
      tags:
        - Streams
      summary: Check in streaming for the camera
      description: >
        **Phase 1**:
        Check in streaming for the camera
      parameters:
        - in: path
          name: streamId
          description: The specific stream record id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /streams/{streamId}:
    delete:
      operationId: CheckOut
      security:
        - OAuth2: [ account.cameras.manage ]
      tags:
        - Streams
      summary: Check out streaming for the camera
      description: >
        **Phase 1**:
        Check out streaming for the camera
      parameters:
        - in: path
          name: streamId
          description: The specific stream record id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /locations:
    get:
      operationId: GetLocations
      security:
        - OAuth2: [ account.locations.manage ]
      tags:
        - Locations
      summary: List of locations for the user's client
      description: >
        **Phase 1**: 
        Returns all the locations accessible by the specified client.
      parameters:
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: A list of locations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /locations/{locationId}:
    parameters:
      - name: locationId
        in: path
        description: Specified location.
        required: true
        schema:
          type: string
    get:
      operationId: GetLocation
      security:
        - OAuth2: [ account.locations.manage ]
      tags:
        - Locations
      summary: Details for the specified location.
      description: >
        **Phase 1**:
        Details for the specified location.
      responses:
        '200':
          description: A location instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/location'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /locations/{locationId}/liveUnits:
    get:
      operationId: GetLocationLiveUnits
      security:
        - OAuth2: [ account.liveUnits.manage ]
      tags:
        - Locations
      summary: List of user accessible live units at the given location.
      description: >
        **Phase 1**:
        List of user accessible live units at the given location.
      parameters:
        - name: locationId
          in: path
          description: Filter results by locationId.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: A list of live units.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/liveUnits'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /alerts:
    get:
      operationId: GetAlerts
      tags:
        - Alerts
      summary: Get all alerts a user has access to
      description: >
        **Phase 2**:
        Get all alerts a user has access to
      parameters:
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/cursor'
        - name: state
          in: query
          description: >
            Filters the alerts response to only include alerts with `state` values that are included in the provided comma separated list.
            You can get a list of valid states from `/alerts/types`.
          schema:
            type: string
            example: resolved,resolving
        - name: startTimestamp
          in: query
          description: ISO 8601 formatted string. Filters alerts where the `timestamp` is after the provided `startTimestamp`.
          schema:
            type: string
            format: date-time
            example: 2023-01-01T12:00:00.000Z
        - name: endTimestamp
          in: query
          description: ISO 8601 formatted string. Filters alerts where the `timestamp` is before the provided `endTimestamp`.
          schema:
            type: string
            format: date-time
            example: 2023-01-01T12:00:00.000Z
        - name: locationId
          in: query
          description: Filters the alerts response to only include alerts with `locationId` values that are included in the provided comma separated list.
          schema:
            type: string
            format: uuid
            example: 460092aa-aeec-4bef-b206-1a3a4b4dc4d9,cf2c38d9-ee33-4ce4-a6d6-82ddec364c76
        - name: cause
          in: query
          description: >
            Filters the alerts response to only include alerts with `cause` values that are included in the provided comma separated list.
            You can get a list of valid causes from `/alerts/types`.
          schema:
            type: string
            example: intrusion,loitering
        - name: subject
          in: query
          description: >
            Filters the alerts response to only include alerts with `subject` values that are included in the provided comma separated list.
            Use "null" to include alerts with `null` subjects.
            You can get a list of valid subjects from `/alerts/types`.
          schema:
            type: string
            example: human,vehicle,null
      responses:
        200:
          description: A list of alerts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alerts'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /alerts/types:
    get:
      operationId: GetAlertTypes
      tags:
        - Alerts
      summary: Get alert types
      description: >
        **Phase 2**:
        Get all valid enumeration types relevant to an alert.
        This includes alert causes, alert subjects (sub-classification of the "intrusion" alert cause), and resolution tags.
        <br/><br/>
        This endpoint will be mostly static however, as new values become supported they will be added to this response.
      responses:
        200:
          description: An object containing valid enum values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alertTypes'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /alerts/{alertId}:
    get:
      operationId: GetAlert
      tags:
        - Alerts
      summary: Get a single alert
      description: >
        **Phase 2**:
        Get a single alert
      parameters:
        - name: alertId
          in: path
          description: The ID of the alert
          required: true
          schema:
            type: string
      responses:
        200:
          description: A single alert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alert'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /alerts/{alertId}:resolve:
    post:
      operationId: ResolveAlert
      tags:
        - Alerts
      summary: Resolve a single alert
      description: >
        **Phase 2**:
        Resolve a single alert
      parameters:
        - name: alertId
          in: path
          description: The ID of the alert
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/resolveAlert'
      responses:
        202:
          description: The resolve process has been initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alertResolution'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /webhooks:
    post:
      operationId: CreateWebhook
      tags:
        - Webhooks
      summary: Register a new webhook to receive alerts
      description: >
        **Phase 4**:
        Register a new webhook to receive alerts
      requestBody:
        $ref: '#/components/requestBodies/createWebhook'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

    get:
      operationId: GetWebhooks
      tags:
        - Webhooks
      summary: Get a list of registered webhooks
      description: >
        **Phase 4**:
        Get a list of registered webhooks
      parameters:
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: A list of webhooks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhooks'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

  /webhooks/{webhookId}:
    parameters:
      - name: webhookId
        in: path
        description: The id of the webhook
        required: true
        schema:
          type: string

    get:
      operationId: GetWebhook
      tags:
        - Webhooks
      summary: Get information about a single webhook
      description: >
        **Phase 4**:
        Get information about a single webhook
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

    patch:
      operationId: UpdateWebhook
      tags:
        - Webhooks
      summary: Update a webhook
      description: >
        **Phase 4**:
        Update a webhook
      requestBody:
        $ref: '#/components/requestBodies/updateWebhook'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

    delete:
      operationId: DeleteWebhook
      tags:
        - Webhooks
      summary: Delete a webhook
      description: >
        **Phase 4**:
        Delete a webhook
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/defaultError'

###############################################################################

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.lvt.com/oauth2/v1/token
          scopes:
            account.liveUnits.manage: Edit a live units data
            account.cameras.manage: Edit a cameras data
            account.locations.manage: Edit a locations data
  responses:
    '400':
      description: 'Is returned when the request is formatted improperly.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    '403':
      description: 'Is returned when the authorization token provided is invalid or expired.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    '404':
      description: 'Is returned when the specified resource can not be located.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    '406':
      description: 'Is returned when "Accept" header has not been specified or does not contain the value "application/json".'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    '409':
      description: 'The current state of the server does not allow for the operation.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    '500':
      description: 'Is returned when processing encounters an error.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    '503':
      description: 'Is returned when processing is unable to access a needed resource.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    defaultError:
      description: Unexpected error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

  parameters:
    count:
      name: limit
      in: query
      description: Limit reply list page size.
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 100

    cursor:
      name: cursor
      in: query
      description: Used to populate a paged response. Do not provide on initial request. Reserved for use by backend to paginate.
      schema:
        type: string

  requestBodies:
    createWebhook:
      content:
        application/json:
          schema:
            type: object
            required:
              - url
              - type
            properties:
              url:
                type: string
                format: uri
                description: The endpoint where the webhook request will be sent.
                example: https://api.external.com/receiveWebhookEvent
              type:
                type: string
                description: >
                  The type of events to receive.
                  This field currently only supports an `alerts` value but is included for future expansion.
                enum:
                  - alerts

    updateWebhook:
      content:
        application/json:
          schema:
            type: object
            description: All fields are optional but at least one field must be provided for the request to be valid.
            properties:
              url:
                type: string
                format: uri
                description: The endpoint where the webhook request will be sent.
                example: https://api.external.com/receiveWebhookEvent
              type:
                type: string
                description: >
                  The type of events to receive.
                  This field currently only supports an `alerts` value but is included for future expansion.
                enum:
                  - alerts

    startStream:
      content:
        application/json:
          schema:
            type: object
            required:
              - protocol
            properties:
              protocol:
                type: string
                enum:
                  - webrtc
                  - rtsp

    resolveAlert:
      content:
        application/json:
          schema:
            type: object
            description: Details about an alert resolution
            required:
              - tags
            properties:
              tags:
                type: array
                description: List of tags associated with the resolution
                minimum: 1
                items:
                  type: string
                  example: theft
              note:
                type: string
                description: Additional notes provided with the resolution. Optional unless `other` is used in the tags.

    updateLiveUnitLight:
      content:
        application/json:
          schema:
            type: object
            required:
              - status
            properties:
              status:
                $ref: '#/components/schemas/lightState'

  schemas:
    camera:
      type: object
      required:
        - id
        - role
        - liveUnitId
        - serialNumber
        - manufacturer
        - model
      properties:
        id:
          type: string
          format: uuid
          description: Id of the camera
        role:
          $ref: '#/components/schemas/cameraRole'
        liveUnitId:
          type: string
          format: uuid
          description: The live unit hosting this camera
        serialNumber:
          type: string
          description: Serial number of the camera
          example: LVT0000001
        manufacturer:
          type: string
          description: Manufacturer of the camera
          example: Axis
        model:
          type: string
          description: Model of the camera
          example: Q6135-LE

    cameras:
      allOf:
        - $ref: '#/components/schemas/paginated'
        - type: object
          required:
            - cameras
          properties:
            items:
              type: array
              maxItems: 20
              items:
                $ref: '#/components/schemas/camera'

    cameraPosition:
      type: object
      required:
        - pan
        - tilt
        - zoom
        - focus
      properties:
        pan:
          description: Absolute pan value
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
        tilt:
          description: Absolute tilt value.
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
        zoom:
          description: Absolute zoom value.
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
        focus:
          description: Absolute focus value.  A value of -1 enables auto-focus.
          type: integer
          format: int32
          minimum: -1
          maximum: 10000

    liveUnit:
      type: object
      required:
        - id
        - clientId
        - gpsLocation
        - locationId
        - name
      properties:
        id:
          type: string
          format: uuid
          description: The id of the live unit
        clientId:
          type: string
          format: uuid
          description: The id of the client that owns the live unit
        gpsLocation:
          $ref: '#/components/schemas/gpsCoordinates'
        locationId:
          type: string
          format: uuid
          description: The id of the location this live unit is associated with
        name:
          type: string
          description: User assigned name for the live unit

    liveUnits:
      allOf:
        - $ref: '#/components/schemas/paginated'
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              maxItems: 20
              items:
                $ref: '#/components/schemas/liveUnit'

    gpsCoordinates:
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: number
          format: float
          minimum: -90.00
          maximum: 90.00
          description: GPS Decimal Degrees Latitude
          example: 40.123456
        longitude:
          type: number
          format: float
          minimum: -180.00
          maximum: 180.00
          description: GPS Decimal Degrees Longitude
          example: -111.789

    location:
      type: object
      required:
        - id
        - gpsLocation
        - name
      properties:
        id:
          type: string
          format: uuid
          description: UUID of location
        gpsLocation:
          $ref: '#/components/schemas/gpsCoordinates'
        name:
          type: string
          description: 'User defined name of a location'
          example: 'Store #326 North Parking Lot'

    locations:
      allOf:
        - $ref: '#/components/schemas/paginated'
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              maxItems: 20
              items:
                $ref: '#/components/schemas/location'

    streamProtocol:
      type: object
      required:
        - protocol
      properties:
        protocol:
          type: string
          description: A short name for the streaming protocol
          example: 'webrtc'
          enum:
            - 'webrtc'
            - 'rtsp'

    streamProtocols:
      allOf:
        - $ref: '#/components/schemas/paginated'
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/streamProtocol'
    streamDataPoly:
      oneOf:
        - $ref: '#/components/schemas/streamDataRtsp'
        - $ref: '#/components/schemas/streamDataWebrtc'
      discriminator:
        propertyName: protocol
        mapping:
          rtsp: '#/components/schemas/streamDataRtsp'
          webrtc: '#/components/schemas/streamDataWebrtc'

    streamDataRtsp:
      type: object
      properties:
        protocol:
          type: string
          description: A short name for the streaming protocol
          example: 'rtsp'
        refreshInterval:
          type: integer
          description: Interval in milliseconds in which the /stream/{streamId}:checkIn request should be called
          format: int32
        streamingUrl:
          type: string
          description: rtsp url to access the stream
          format: uri
        streamId:
          type: string
          description: Identifier for the current stream
          format: uuid

    streamDataWebrtc:
      type: object
      properties:
        protocol:
          type: string
          description: A short name for the streaming protocol
          example: 'webrtc'
        refreshInterval:
          type: integer
          description: Interval in milliseconds in which the /stream/{streamId}:checkIn request should be called
          format: int32
        signalUrl:
          type: string
          description: web socket url to the signal server
          format: uri
        streamId:
          description: Identifier for the current stream
          type: string
          format: uuid
        streamInfo:
          description: Data that is passed to to the signal server
          type: object
          additionalProperties: true

    error:
      type: object
      required:
        - errorCode
        - errorSummary
        - errorId
        - errorCause
      properties:
        errorCode:
          type: string
          description: A code that is associated with this error type
          example: E0000001
        errorSummary:
          type: string
          description: A natural language explanation of the error
          example: Api validation failed
        errorId:
          type: string
          description: >
            An ID that identifies this request. 
            These IDs are mapped to the internal error on the server side to assist in troubleshooting.
          example: oaeHfmOAx1iRLa0H10DeMz5fQ
        errorCauses:
          type: array
          description: Further information about what caused this error. Should be empty array if no causes given.
          items:
            type: string
            example: 'login: An object with this field already exists in the current organization'

    paginated:
      type: object
      required: # items should also be defined but is omitted from the schema to keep it generic
        - itemsPerPage
        - nextCursorUri
        - totalResults
      properties:
        itemsCount:
          type: integer
          format: int32
          minimum: 0
          description: Number of items returned in the response
          example: 24
        nextCursorUri:
          type: string
          nullable: true
          format: uri
          description: Full URL to fetch the values of the next page
          example: https://api.lvt.com/v1/liveUnits?cursor=eyJhZnRlciI6IjQyIn0=
        totalResults:
          type: integer
          description: Total number of items in the collection being iterated
          example: 1234

    cameraRole:
      type: string
      description: The role of the camera on the live unit (if it has one)
      enum:
        - primary
        - left
        - right
        - none

    alertMedia:
      type: object
      required:
        - id
        - cameraId
        - cameraRole
        - mimeType
        - timestamp
        - url
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the media item
        cameraId:
          type: string
          format: uuid
          description: The ID of the camera the media was taken from
        cameraRole:
          type: string
          description: The role of the camera (if it has one)
        mimeType:
          type: string
          format: mime
          description: The mime type of the media
          example: image/jpeg
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 formatted date-time string of when the media was captured
        url:
          type: string
          format: url
          description: Signed URL to access the media. Default expiration is 2 hours.
          example: 'https://cdn.lvt.com/alerts/security/202/20230928150412/1121.jpg?Expires=1695924513&Key-Pair-Id=MZ1Z1ZZNSPSL2&Signature=3fWTV-M0bAdXiFhjbLSU~iMKDAcbHKxxZfEOZJT3t2031cfrqNWfizjxyilmSNiuxxq39vHPdQQO3cF9WKKpVcPczVFcTUbEAUyDVA12akUexegBomwPkf4PcJgnEQr~-vp6wtzUawYHPYpNaH32xSaWKGxqOleq-c8F~5~4kI6MjuFFZylKLAdzQ1Oan4ujlnBfpbQPWKU-pBT8FotaefzjAZLGtzUtR37oNRK0j687p6vZyQIqsg~r-MDY5ZJZBZk3G02Dl0LkpcpzHf-xI~IHGhlQ4B~9JLDeFLCLrvFC47sOww7We8J4QkI8RyuoetV3ChegywIHVM0U1qFT0Q__'

    alertResolution:
      type: object
      description: Details about an alert resolution
      required:
        - tags
        - userId
        - resolveInitiatedTimestamp
      properties:
        tags:
          type: array
          description: List of tags associated with the resolution
          minimum: 1
          items:
            type: string
            example: theft
        userId:
          type: string
          format: uuid
          description: The UUID of the user who resolved the alert.
        resolvedInitiatedTimestamp:
          type: string
          format: date-time
          description: ISO 8601 formatted date-time for when the resolution was initiated.
        note:
          type: string
          description: Additional notes provided with the resolution. Optional unless `other` is used in the tags.
        resolvedTimestamp:
          type: string
          format: date-time
          description: ISO 8601 formatted date-time for when the alert was resolved.

    alert:
      type: object
      required:
        - id
        - timestamp
        - cameraId
        - cameraRole
        - cause
        - clientId
        - liveUnitId
        - locationId
        - media
        - state
      properties:
        id:
          type: string
          format: uuid
          description: The id of the alert
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 formatted date-time for when the alert was raised
        cameraId:
          type: string
          format: uuid
          description: The id of the camera that triggered the alert
        cameraRole:
          $ref: '#/components/schemas/cameraRole'
        cause:
          type: string
          example: loitering
        clientId:
          type: string
          format: uuid
          description: The client who owns the live unit that raised the alert
        clientName:
          type: string
          description: The name of the client who owns the live unit that raised the alert
        coordinates:
          $ref: '#/components/schemas/gpsCoordinates'
        liveUnitId:
          type: string
          format: uuid
          description: The id of the live unit that raised the alert
        liveUnitName:
          type: string
          description: The name of the live unit that raised the alert
        locationId:
          type: string
          format: uuid
          description: The id of the location that raised the alert
        locationName:
          type: string
          description: The name of the location that raised the alert
        locationTimezone:
          type: string
          description: The timezone of the location that raised the alert
        media:
          type: array
          description: A list of media that were captured for the alert
          items:
            $ref: '#/components/schemas/alertMedia'
        state:
          type: string
          description: The current state of the alert
          enum:
            - unresolved
            - resolved
            - resolveInitiated
        subject:
          type: string
          example: human
        resolution:
          $ref: '#/components/schemas/alertResolution'

    alerts:
      allOf:
        - $ref: '#/components/schemas/paginated'
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              maxItems: 100
              items:
                $ref: '#/components/schemas/alert'

    alertTypes:
      type: object
      description: Object containing enum values
      required:
        - alertCauses
        - alertSubjects
        - resolutionTags
      properties:
        alertCauses:
          type: array
          description: Valid values that can be returned in the `cause` field of an alert response.
          items:
            type: string
          example:
            - mastMovement
            - baseEntry
            - lowVoltageDisconnect
            - intrusion
            - loitering
            - potentialGunShotDetection
            - other
        alertSubjects:
          type: array
          description: Valid values that can be returned in the `subject` field of an alert response with the cause `intrusion`.
          items:
            type: string
          example:
            - human
            - vehicle
            - object
        resolutionTags:
          type: array
          description: Valid values that can be sent in the `tags` field of an alert resolution request.
          items:
            type: string
          example:
            - accident
            - animal
            - deterredCrime
            - employeeVendor
            - suspiciousActivity
            - tampering
            - loitering
            - theft
            - technicalIssue
            - violence
            - other

    callInfo:
      type: object
      description: Information required to call a live unit
      required:
        - phoneNumber
        - extension
        - passcode
      properties:
        phoneNumber:
          type: string
          format: phone
          description: The phone number to call in with
          example: +1 (111) 111-1111
        extension:
          type: string
          description: The extension to dial after calling in
          example: 1234
        passcode:
          type: string
          description: The passcode to enter when prompted
          example: 1234

    webhook:
      type: object
      description: Information about a registered webhook
      required:
        - id
        - url
        - type
      properties:
        id:
          type: string
          format: uuid
          description: ID of the webhook resource
        url:
          type: string
          format: uri
          description: The URL to send the webhook event to
          example: https://api.external.com/receiveWebhook
        type:
          type: string
          description: >
            The type of events to receive.
            This field currently only supports an `alerts` value but is included for future expansion.
          enum:
            - alerts

    webhooks:
      allOf:
        - $ref: '#/components/schemas/paginated'
        - type: object
          required: [ items ]
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/webhook'

    sound:
      type: object
      description: The information about a quick sound a live unit can play.
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the sound.
        name:
          type: string
          description: The human readable name of the sound.
          example: Trespassing

    sounds:
      allOf:
        - $ref: '#/components/schemas/paginated'
        - type: object
          required: [ items ]
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/sound'

    lightState:
      type: string
      enum:
        - 'on'
        - 'off'

    light:
      type: object
      description: A light on a live unit.
      required:
        - id # Does this use an id?
        - type
        - state
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the light.
        type:
          type: string
          description: The type of light
          enum:
            - strobe
            - flood
            - camera
        state:
          $ref: '#/components/schemas/lightState'
        name:
          type: string
          description: Optional name to describe the light beyond the type

    lights:
      allOf:
        - $ref: '#/components/schemas/paginated'
        - type: object
          required: [ items ]
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/light'
